/* Reset básico e estilos globais */
body {
    margin: 0;
    font-family: 'Inter', 'Poppins', sans-serif;
    background-color: #F9F9F9;
    color: #333333;
    display: flex;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}